
#header{
    margin-right: -8px;
    margin-left: -8px;
    padding-bottom: 10px;
    margin-top: 32px;
    font-family: "San Francisco";
    border-bottom: 1px solid #C2C2C2;
}

#firstHeader {
    margin-top: 25px;
}

#memegrid {
    margin-top: 10px;
    clear: both;
    border-top: 1px solid #C2C2C2;
}

#canvas {
    display: none;
}

#BackToGrid {
    color: #0F79FA;
    font-size: 1.4em;
    display: inline;
    margin-left: 7px;
    text-decoration: none;
}

@font-face{
    font-family: 'San Francisco';
    src:url('../fonts/SanFranciscoR.ttf');
}

#editTitle {
    display:inline;
    margin-left: 50px;
}





#actionIcon {
    width:20px;
    height:30px;
    padding-top: 6px;
}

#imgcrop {
    border: 1px solid red;
    display: none;
}


/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    #thumbnail, #memecontainer {
        width: 300px;
        height: 300px;
        float: left;
        padding-top:10px;
    }
    #memeListTitle{
        float: left;
        padding-left: 70px;
        margin-top: -10px;
    }
    #libraryButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 210px;
        margin-top: 10px;
    }

    #cameraButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    #gridpicture {
        float: left;
        width: 97px;
        height: 97px;
        margin: 2px;
    }

    #topText, #bottomText {
        float: left;
        border-style: none;
        font-size: 2em;
        margin-top: -300px;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Helvetica;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) */
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 300px;
        height: 150px;
    }

    #bottomText {
        margin-top: -80px;
        height: 80px;
    }

    #footer {
        border-top: 1px solid #C2C2C2;
        margin-top: 449px;
        margin-right: -8px;
        margin-left: -8px;
        padding-left: 15px;
    }
}

/* #### iPhone 6 AND 6s */
@media (min-device-height: 667px) and (min-device-width: 375px) {
  #thumbnail, #memecontainer {
        width: 360px;
        height: 360px;
        float: left;
        padding-top:10px;
    }
    #memeListTitle{
        float: left;
        padding-left: 70px;
        margin-top: -10px;
    }
    #libraryButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 265px;
        margin-top: 10px;
    }

    #cameraButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    #gridpicture {
        float: left;
        width: 85px;
        height: 85px;
        margin: 2px;
    }

    #topText, #bottomText {
        float: left;
        border-style: none;
        font-size: 2.2em;
        margin-top: -360px;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Helvetica;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) */
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 360px;
        height: 150px;
    }

    #bottomText {
        margin-top: -80px;
        height: 80px;
    }
    #footer {
        border-top: 1px solid #C2C2C2;
        margin-top: 555px;
        margin-right: -8px;
        margin-left: -8px;
        padding-left: 15px;
    }
}
/* 6+ AND 6s+ */
@media (min-device-height: 736px) and (min-device-width: 414px) {
  #thumbnail, #memecontainer {
        width: 397px;
        height: 397px;
        float: left;
        padding-top:10px;
    }
    #memeListTitle{
        float: left;
        padding-left: 70px;
        margin-top: -10px;
    }
    #libraryButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 300px;
        margin-top: 10px;
    }

    #cameraButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    #gridpicture {
        float: left;
        width: 95px;
        height: 95px;
        margin: 2px;
    }

    #topText, #bottomText {
        float: left;
        border-style: none;
        font-size: 2em;
        margin-top: -395px;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Helvetica;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) */
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 400px;
        height: 150px;
    }

    #bottomText {
        margin-top: -75px;
        height: 80px;
    }
     #footer {
        border-top: 1px solid #C2C2C2;
        margin-top: 630px;
        margin-right: -8px;
        margin-left: -8px;
        padding-left: 15px;
    }
}
/*johan
@media (min-device-height: 592px) and (min-device-width: 360px) {
  #thumbnail, #memecontainer {
        width: 300px;
        height: 300px;
        float: left;
        padding-top:10px;
    }
    #memeListTitle{
        float: left;
        padding-left: 70px;
        margin-top: -10px;
    }
    #libraryButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 210px;
        margin-top: 10px;
    }

    #cameraButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    #gridpicture {
        float: left;
        width: 97px;
        height: 97px;
        margin: 2px;
    }

    #topText, #bottomText {
        float: left;
        border-style: none;
        font-size: 2em;
        margin-top: -300px;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Helvetica;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) 
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 300px;
        height: 150px;
    }

    #bottomText {
        margin-top: -80px;
        height: 80px;
    }
}
*/

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){

    #thumbnail, #memecontainer {
         width: 650px;
        height: 650px;
        float:left;
        border-top: 10px;
    }

    #gridpicture {
        float: left;
        width:  103px;
        height: 103px;
        margin: 2px;
    }
    #memeListTitle{
        float: left;
        padding-left: 70px;
        margin-top: -10px;
    }
    #libraryButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 210px;
        margin-top: 10px;
    }

    #cameraButton {
        float: left;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    #topText, #bottomText {
        float: left;
        border-style: none;
        font-size: 2em;
        margin-top: -750px;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Helvetica;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) */
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 750px;
        height:150px;
    }

    #bottomText {
        margin-top: -160px;
    }
}