
#header{
    margin-right: -8px;
    margin-left: -8px;
    padding-bottom: 10px;
    margin-top: 32px;
    font-family: "San Francisco";
    border-bottom: 1px solid #C2C2C2;
}
#canvas {
    margin-top: 20px;
    visibility: hidden;
}

#BackToGrid {
    color: #0F79FA;
    font-size: 1.4em;
    display: inline;
    margin-left: 7px;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-family: 'San Francisco';
    font-size: 1.4em;
}
@font-face{
    font-family: 'San Francisco';
    src:url('../fonts/SanFranciscoR.ttf');
}

#editTitle {
    display:inline;
    margin-left: 50px;
}

#gridpicture {
    float: left;
    width: 97px;
    height: 97px;
    margin: 2px;
}

#footer {
    border-top: 1px solid #C2C2C2;
    margin-top: 449px;
    margin-right: -8px;
    margin-left: -8px;
    padding-left: 15px;
}

#actionIcon {
    width:20px;
    height:30px;
    padding-top: 6px;
}

#imgcrop {
    border: 1px solid red;
     width: 300px;
    height: 300px;
}


/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    #thumbnail, #memecontainer {
     width: 300px;
    height: 300px;
     float: left;
     padding-top:10px;
    }

    #topText, #bottomText {
        float: left;
        border-style: none;
        font-size: 2em;
        margin-top: -300px;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Helvetica;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) */
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 300px;
    }

    #bottomText {
        margin-top: -80px;
    }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){

    #thumbnail, #memecontainer {
         width: 750px;
        height: 750px;
        float:left;
        border-top: 10px;
    }

    #topText, #bottomText {
        float: left;
        border-style: none;
        font-size: 2em;
        margin-top: -750px;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Helvetica;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) */
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 750px;
        height:150px;
    }

    #bottomText {
        margin-top: -160px;
    }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
}